In [1]:
# Import libraries

import pandas as pd 
import numpy as np 
import os

In [2]:
# Create path

path = r'/Users/admin/Desktop/Kiva Data Analysis'

In [3]:
path

'/Users/admin/Desktop/Kiva Data Analysis'

In [5]:
# Import dataframe 

df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'loan_themes_by_region.csv'))

In [6]:
df.shape

(15736, 21)

In [7]:
df.head()

,Partner ID,Field Partner Name,sector,Loan Theme ID,Loan Theme Type,country,forkiva,region,geocode_old,ISO,...,amount,LocationName,geocode,names,geo,lat,lon,mpi_region,mpi_geo,rural_pct
0,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Banteay Meanchey,"(13.75, 103.0)",KHM,...,450,"Banteay Meanchey, Cambodia","[(13.6672596, 102.8975098)]",Banteay Meanchey Province; Cambodia,"(13.6672596, 102.8975098)",13.667260,102.897510,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
1,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Battambang Province,NaN,KHM,...,20275,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
2,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Battambang Province,NaN,KHM,...,9150,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
3,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,604950,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0
4,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000002X1Uu,Sanitation,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,275,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0

In [8]:
df.columns

Index(['Partner ID', 'Field Partner Name', 'sector', 'Loan Theme ID',
       'Loan Theme Type', 'country', 'forkiva', 'region', 'geocode_old', 'ISO',
       'number', 'amount', 'LocationName', 'geocode', 'names', 'geo', 'lat',
       'lon', 'mpi_region', 'mpi_geo', 'rural_pct'],
      dtype='object')

In [10]:
# Import dataframe 

df_2 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'kiva_loans.csv'))

In [11]:
df_2.columns

Index(['id', 'funded_amount', 'loan_amount', 'activity', 'sector', 'use',
       'country_code', 'country', 'region', 'currency', 'partner_id',
       'posted_time', 'disbursed_time', 'funded_time', 'term_in_months',
       'lender_count', 'tags', 'borrower_genders', 'repayment_interval',
       'date'],
      dtype='object')

In [12]:
# Find unique activities logged 

df_2['activity'].unique()

array(['Fruits & Vegetables', 'Rickshaw', 'Transportation', 'Embroidery',
       'Milk Sales', 'Services', 'Dairy', 'Beauty Salon', 'Manufacturing',
       'Food Production/Sales', 'Wholesale', 'General Store',
       'Clothing Sales', 'Poultry', 'Tailoring', 'Sewing', 'Bakery',
       'Restaurant', 'Food Stall', 'Farming', 'Construction Supplies',
       'Personal Products Sales', 'Home Products Sales',
       'Natural Medicines', 'Fish Selling', 'Education provider',
       'Shoe Sales', 'Machinery Rental', 'Butcher Shop', 'Pigs',
       'Personal Expenses', 'Food Market', 'Cosmetics Sales',
       'Personal Housing Expenses', 'Retail', 'Energy', 'Grocery Store',
       'Construction', 'Agriculture', 'Motorcycle Transport',
       'Charcoal Sales', 'Food', 'Pharmacy', 'Fishing', 'Timber Sales',
       'Cattle', 'Electronics Repair', 'Electronics Sales', 'Vehicle',
       'Cafe', 'Blacksmith', 'Higher education costs', 'Used Clothing',
       'Fuel/Firewood', 'Upholstery', 'Catering', 'Animal Sales',
       'Cereals', 'Vehicle Repairs', 'Arts',
       'Cloth & Dressmaking Supplies', 'Mobile Phones', 'Spare Parts',
       'Clothing', 'Metal Shop', 'Barber Shop', 'Furniture Making',
       'Crafts', 'Home Energy', 'Home Appliances', 'Wedding Expenses',
       'Taxi', 'Secretarial Services', 'Livestock', 'Property',
       'Recycling', 'Farm Supplies', 'Auto Repair', 'Beverages',
       'Plastics Sales', 'Electrical Goods', 'Carpentry', 'Photography',
       'Jewelry', 'Bricks', 'Pub', 'Phone Use Sales',
       'Water Distribution', 'Paper Sales', 'Computers',
       'Liquor Store / Off-License', 'Utilities', 'Knitting', 'Weaving',
       'Party Supplies', 'Medical Clinic', 'Internet Cafe',
       'Consumer Goods', 'Cement', 'Electrician',
       'Primary/secondary school costs', 'Veterinary Sales',
       'Land Rental', 'Laundry', 'Call Center', 'Perfumes', 'Hotel',
       'Motorcycle Repair', 'Movie Tapes & DVDs', 'Quarrying',
       'Personal Medical Expenses', 'Bookstore', 'Decorations Sales',
       'Recycled Materials', 'Office Supplies', 'Souvenir Sales',
       'Renewable Energy Products', 'Health', 'Printing', 'Phone Repair',
       'Traveling Sales', 'Flowers', 'Bicycle Repair', 'Entertainment',
       'Phone Accessories', 'Hardware', 'Used Shoes',
       'Music Discs & Tapes', 'Games', 'Balut-Making', 'Textiles',
       'Child Care', 'Goods Distribution', 'Florist', 'Cobbler', 'Dental',
       'Bookbinding', 'Cheese Making', 'Bicycle Sales', 'Well digging',
       'Technology', 'Musical Performance', 'Waste Management', 'Film',
       'Tourism', 'Musical Instruments', 'Religious Articles',
       'Machine Shop', 'Cleaning Services', 'Sporting Good Sales',
       'Patchwork', 'Funerals', 'Air Conditioning', 'Communications',
       'Adult Care', 'Landscaping / Gardening', 'Aquaculture',
       'Beekeeping', 'Event Planning', 'Celebrations', 'Computer',
       'Personal Care Products', 'Mobile Transactions'], dtype=object)

In [13]:
# Create a list of all activities lenders list for the purpose of their loans 

list_activity = df_2['activity']

In [14]:
list_activity

0         Fruits & Vegetables
1                    Rickshaw
2              Transportation
3                  Embroidery
4                  Milk Sales
                 ...
671200              Livestock
671201              Livestock
671202                  Games
671203              Livestock
671204              Livestock
Name: activity, Length: 671205, dtype: object

In [15]:
list_activity.shape

(671205,)

In [16]:
list_activity.value_counts()

Farming                      72955
General Store                64729
Personal Housing Expenses    32448
Food Production/Sales        28106
Agriculture                  27023
                             ...
Film                            13
Personal Care Products           7
Celebrations                     5
Event Planning                   5
Adult Care                       2
Name: activity, Length: 163, dtype: int64

#### There are 163 activities listed. The top 5 most popular activities for loans are as followed: farming, general store, personal housing expenses, food production/sales, and agriculture. The bottom 5 least popular activities for loans are as followed: film, personal care products, event planning, celebrations, and adult care.

In [17]:
# View the list_activity series as a dataframe  

df_2['activity'].value_counts().to_frame()

                           activity
Farming                       72955
General Store                 64729
Personal Housing Expenses     32448
Food Production/Sales         28106
Agriculture                   27023
...                             ...
Film                             13
Personal Care Products            7
Celebrations                      5
Event Planning                    5
Adult Care                        2

[163 rows x 1 columns]

In [18]:
# Create a dataframe from the activity column 

l_a = df_2['activity'].value_counts().to_frame()

In [20]:
l_a.head(10)

                           activity
Farming                       72955
General Store                 64729
Personal Housing Expenses     32448
Food Production/Sales         28106
Agriculture                   27023
Pigs                          26624
Retail                        24771
Clothing Sales                22339
Home Appliances               20267
Higher education costs        19742

Notes: I was puzzled to see "Farming" and "Agriculture" listed as separate activities so, I conducted some quick research to see if there's a difference between the two. According to Kiva's official website, farming is a subcategory under Agriculture. I took a look at current loans in Philippines. As of May 2021, there are 1,574 active loans. The majority of those loans are related to pigs/farming/arigiculture.

In [21]:
# Command: show all rows in the dataframe 

pd.set_option("display.max_rows", 165)

# View the dataframe 
l_a

                                activity
Farming                            72955
General Store                      64729
Personal Housing Expenses          32448
Food Production/Sales              28106
Agriculture                        27023
Pigs                               26624
Retail                             24771
Clothing Sales                     22339
Home Appliances                    20267
Higher education costs             19742
Fruits & Vegetables                16610
Grocery Store                      15102
Livestock                          13095
Fish Selling                       13060
Food                               10197
Fishing                            10066
Services                            9807
Poultry                             9783
Tailoring                           9657
Animal Sales                        9237
Food Stall                          8905
Sewing                              8414
Dairy                               7914
Cereals                             7898
Cattle                              7865
Home Energy                         7141
Food Market                         7091
Primary/secondary school costs      6816
Personal Expenses                   6656
Beauty Salon                        6611
Motorcycle Transport                5888
Personal Medical Expenses           5549
Clothing                            5014
Restaurant                          4981
Cosmetics Sales                     4740
Used Clothing                       4637
Charcoal Sales                      4421
Education provider                  4401
Farm Supplies                       4352
Transportation                      4121
Crafts                              4084
Personal Products Sales             3866
Home Products Sales                 3817
Bakery                              3620
Weaving                             2961
Rickshaw                            2878
Shoe Sales                          2760
Manufacturing                       2643
Taxi                                2631
Embroidery                          2380
Beverages                           2357
Construction                        2145
Cloth & Dressmaking Supplies        2071
Furniture Making                    2051
Construction Supplies               2003
Butcher Shop                        1968
Fuel/Firewood                       1925
Milk Sales                          1771
Liquor Store / Off-License          1558
Cafe                                1404
Jewelry                             1371
Auto Repair                         1336
Property                            1283
Spare Parts                         1260
Vehicle                             1257
Health                              1235
Arts                                1092
Textiles                            1023
Phone Use Sales                     1019
Pharmacy                            1012
Internet Cafe                        986
Hardware                             953
Barber Shop                          951
Pub                                  902
Metal Shop                           898
Flowers                              821
Recycled Materials                   819
Natural Medicines                    814
Carpentry                            754
Used Shoes                           752
Mobile Phones                        657
Catering                             653
Vehicle Repairs                      615
Consumer Goods                       613
Renewable Energy Products            585
Plastics Sales                       568
Water Distribution                   564
Electronics Sales                    546
Bricks                               512
Timber Sales                         502
Phone Accessories                    486
Cobbler                              453
Motorcycle Repair                    449
Blacksmith                           444
Entertainment                        443
Bookstore                            442
Printing                             434
Knitting                             416
Electrical Goods                     409
Wedding Expenses                     405
Electronics Repair                   400
Photography                          396
Decorations Sales                    385
Computers                            376
Office Supplies                      362
Recycling                            358
Wholesale                            357
Cheese Making                        347
Perfumes                             328
Medical Clinic                       323
Waste Management                     308
Laundry                              295
Dental                               290
Paper Sales                          289
Electrician                          284
Land Rental                          277
Goods Distribution                   277
Hotel                                274
Games                                238
Mobile Transactions                  216
Veterinary Sales                     198
Energy                               190
Tourism                              187
Utilities                            185
Child Care                           183
Souvenir Sales                       180
Technology                           178
Machine Shop                         165
Bicycle Repair                       158
Quarrying                            158
Cement                               152
Musical Performance                  149
Cleaning Services                    145
Traveling Sales                      144
Movie Tapes & DVDs                   135
Machinery Rental                     131
Phone Repair                         119
Upholstery                           115
Party Supplies                       110
Aquaculture                          108
Communications                        96
Secretarial Services                  89
Music Discs & Tapes                   81
Sporting Good Sales                   78
Call Center                           74
Musical Instruments                   69
Religious Articles                    68
Florist                               65
Balut-Making                          61
Bicycle Sales                         54
Computer                              54
Beekeeping                            50
Well digging                          42
Funerals                              41
Air Conditioning                      36
Landscaping / Gardening               34
Bookbinding                           29
Patchwork                             22
Film                                  13
Personal Care Products                 7
Celebrations                           5
Event Planning                         5
Adult Care                             2

In [22]:
# Reset index so that "activity" column can be used as a filter

l_a2 = l_a.reset_index()

In [23]:
l_a2.head(163)

                              index  activity
0                           Farming     72955
1                     General Store     64729
2         Personal Housing Expenses     32448
3             Food Production/Sales     28106
4                       Agriculture     27023
5                              Pigs     26624
6                            Retail     24771
7                    Clothing Sales     22339
8                   Home Appliances     20267
9            Higher education costs     19742
10              Fruits & Vegetables     16610
11                    Grocery Store     15102
12                        Livestock     13095
13                     Fish Selling     13060
14                             Food     10197
15                          Fishing     10066
16                         Services      9807
17                          Poultry      9783
18                        Tailoring      9657
19                     Animal Sales      9237
20                       Food Stall      8905
21                           Sewing      8414
22                            Dairy      7914
23                          Cereals      7898
24                           Cattle      7865
25                      Home Energy      7141
26                      Food Market      7091
27   Primary/secondary school costs      6816
28                Personal Expenses      6656
29                     Beauty Salon      6611
30             Motorcycle Transport      5888
31        Personal Medical Expenses      5549
32                         Clothing      5014
33                       Restaurant      4981
34                  Cosmetics Sales      4740
35                    Used Clothing      4637
36                   Charcoal Sales      4421
37               Education provider      4401
38                    Farm Supplies      4352
39                   Transportation      4121
40                           Crafts      4084
41          Personal Products Sales      3866
42              Home Products Sales      3817
43                           Bakery      3620
44                          Weaving      2961
45                         Rickshaw      2878
46                       Shoe Sales      2760
47                    Manufacturing      2643
48                             Taxi      2631
49                       Embroidery      2380
50                        Beverages      2357
51                     Construction      2145
52     Cloth & Dressmaking Supplies      2071
53                 Furniture Making      2051
54            Construction Supplies      2003
55                     Butcher Shop      1968
56                    Fuel/Firewood      1925
57                       Milk Sales      1771
58       Liquor Store / Off-License      1558
59                             Cafe      1404
60                          Jewelry      1371
61                      Auto Repair      1336
62                         Property      1283
63                      Spare Parts      1260
64                          Vehicle      1257
65                           Health      1235
66                             Arts      1092
67                         Textiles      1023
68                  Phone Use Sales      1019
69                         Pharmacy      1012
70                    Internet Cafe       986
71                         Hardware       953
72                      Barber Shop       951
73                              Pub       902
74                       Metal Shop       898
75                          Flowers       821
76               Recycled Materials       819
77                Natural Medicines       814
78                        Carpentry       754
79                       Used Shoes       752
80                    Mobile Phones       657
81                         Catering       653
82                  Vehicle Repairs       615
83                   Consumer Goods       613
84        Renewable Energy Products       585
85                   Plastics Sales       568
86               Water Distribution       564
87                Electronics Sales       546
88                           Bricks       512
89                     Timber Sales       502
90                Phone Accessories       486
91                          Cobbler       453
92                Motorcycle Repair       449
93                       Blacksmith       444
94                    Entertainment       443
95                        Bookstore       442
96                         Printing       434
97                         Knitting       416
98                 Electrical Goods       409
99                 Wedding Expenses       405
100              Electronics Repair       400
101                     Photography       396
102               Decorations Sales       385
103                       Computers       376
104                 Office Supplies       362
105                       Recycling       358
106                       Wholesale       357
107                   Cheese Making       347
108                        Perfumes       328
109                  Medical Clinic       323
110                Waste Management       308
111                         Laundry       295
112                          Dental       290
113                     Paper Sales       289
114                     Electrician       284
115                     Land Rental       277
116              Goods Distribution       277
117                           Hotel       274
118                           Games       238
119             Mobile Transactions       216
120                Veterinary Sales       198
121                          Energy       190
122                         Tourism       187
123                       Utilities       185
124                      Child Care       183
125                  Souvenir Sales       180
126                      Technology       178
127                    Machine Shop       165
128                  Bicycle Repair       158
129                       Quarrying       158
130                          Cement       152
131             Musical Performance       149
132               Cleaning Services       145
133                 Traveling Sales       144
134              Movie Tapes & DVDs       135
135                Machinery Rental       131
136                    Phone Repair       119
137                      Upholstery       115
138                  Party Supplies       110
139                     Aquaculture       108
140                  Communications        96
141            Secretarial Services        89
142             Music Discs & Tapes        81
143             Sporting Good Sales        78
144                     Call Center        74
145             Musical Instruments        69
146              Religious Articles        68
147                         Florist        65
148                    Balut-Making        61
149                   Bicycle Sales        54
150                        Computer        54
151                      Beekeeping        50
152                    Well digging        42
153                        Funerals        41
154                Air Conditioning        36
155         Landscaping / Gardening        34
156                     Bookbinding        29
157                       Patchwork        22
158                            Film        13
159          Personal Care Products         7
160                    Celebrations         5
161                  Event Planning         5
162                      Adult Care         2

In [25]:
# Rename columns 

l_a2.rename(columns = {'index' : 'activities', 'activity' : 'count'}, inplace = False)

                         activities  count
0                           Farming  72955
1                     General Store  64729
2         Personal Housing Expenses  32448
3             Food Production/Sales  28106
4                       Agriculture  27023
5                              Pigs  26624
6                            Retail  24771
7                    Clothing Sales  22339
8                   Home Appliances  20267
9            Higher education costs  19742
10              Fruits & Vegetables  16610
11                    Grocery Store  15102
12                        Livestock  13095
13                     Fish Selling  13060
14                             Food  10197
15                          Fishing  10066
16                         Services   9807
17                          Poultry   9783
18                        Tailoring   9657
19                     Animal Sales   9237
20                       Food Stall   8905
21                           Sewing   8414
22                            Dairy   7914
23                          Cereals   7898
24                           Cattle   7865
25                      Home Energy   7141
26                      Food Market   7091
27   Primary/secondary school costs   6816
28                Personal Expenses   6656
29                     Beauty Salon   6611
30             Motorcycle Transport   5888
31        Personal Medical Expenses   5549
32                         Clothing   5014
33                       Restaurant   4981
34                  Cosmetics Sales   4740
35                    Used Clothing   4637
36                   Charcoal Sales   4421
37               Education provider   4401
38                    Farm Supplies   4352
39                   Transportation   4121
40                           Crafts   4084
41          Personal Products Sales   3866
42              Home Products Sales   3817
43                           Bakery   3620
44                          Weaving   2961
45                         Rickshaw   2878
46                       Shoe Sales   2760
47                    Manufacturing   2643
48                             Taxi   2631
49                       Embroidery   2380
50                        Beverages   2357
51                     Construction   2145
52     Cloth & Dressmaking Supplies   2071
53                 Furniture Making   2051
54            Construction Supplies   2003
55                     Butcher Shop   1968
56                    Fuel/Firewood   1925
57                       Milk Sales   1771
58       Liquor Store / Off-License   1558
59                             Cafe   1404
60                          Jewelry   1371
61                      Auto Repair   1336
62                         Property   1283
63                      Spare Parts   1260
64                          Vehicle   1257
65                           Health   1235
66                             Arts   1092
67                         Textiles   1023
68                  Phone Use Sales   1019
69                         Pharmacy   1012
70                    Internet Cafe    986
71                         Hardware    953
72                      Barber Shop    951
73                              Pub    902
74                       Metal Shop    898
75                          Flowers    821
76               Recycled Materials    819
77                Natural Medicines    814
78                        Carpentry    754
79                       Used Shoes    752
80                    Mobile Phones    657
81                         Catering    653
82                  Vehicle Repairs    615
83                   Consumer Goods    613
84        Renewable Energy Products    585
85                   Plastics Sales    568
86               Water Distribution    564
87                Electronics Sales    546
88                           Bricks    512
89                     Timber Sales    502
90                Phone Accessories    486
91                          Cobbler    453
92                Motorcycle Repair    449
93                       Blacksmith    444
94                    Entertainment    443
95                        Bookstore    442
96                         Printing    434
97                         Knitting    416
98                 Electrical Goods    409
99                 Wedding Expenses    405
100              Electronics Repair    400
101                     Photography    396
102               Decorations Sales    385
103                       Computers    376
104                 Office Supplies    362
105                       Recycling    358
106                       Wholesale    357
107                   Cheese Making    347
108                        Perfumes    328
109                  Medical Clinic    323
110                Waste Management    308
111                         Laundry    295
112                          Dental    290
113                     Paper Sales    289
114                     Electrician    284
115                     Land Rental    277
116              Goods Distribution    277
117                           Hotel    274
118                           Games    238
119             Mobile Transactions    216
120                Veterinary Sales    198
121                          Energy    190
122                         Tourism    187
123                       Utilities    185
124                      Child Care    183
125                  Souvenir Sales    180
126                      Technology    178
127                    Machine Shop    165
128                  Bicycle Repair    158
129                       Quarrying    158
130                          Cement    152
131             Musical Performance    149
132               Cleaning Services    145
133                 Traveling Sales    144
134              Movie Tapes & DVDs    135
135                Machinery Rental    131
136                    Phone Repair    119
137                      Upholstery    115
138                  Party Supplies    110
139                     Aquaculture    108
140                  Communications     96
141            Secretarial Services     89
142             Music Discs & Tapes     81
143             Sporting Good Sales     78
144                     Call Center     74
145             Musical Instruments     69
146              Religious Articles     68
147                         Florist     65
148                    Balut-Making     61
149                   Bicycle Sales     54
150                        Computer     54
151                      Beekeeping     50
152                    Well digging     42
153                        Funerals     41
154                Air Conditioning     36
155         Landscaping / Gardening     34
156                     Bookbinding     29
157                       Patchwork     22
158                            Film     13
159          Personal Care Products      7
160                    Celebrations      5
161                  Event Planning      5
162                      Adult Care      2

Brainstorming here. I want to create a "category" column for the following categories: agriculture, commerce, infrastructure, and education. This might be too time consuming since there's 163 unique activities altogether and not all will be assigned.

However, I want to create a flag to assign activities as either most common (5digit), common (4digit), or least common (3digit and less).

In [26]:
# Changing gears here. View the dataframe to take a look at ISO and amount 

df.head()

,Partner ID,Field Partner Name,sector,Loan Theme ID,Loan Theme Type,country,forkiva,region,geocode_old,ISO,...,amount,LocationName,geocode,names,geo,lat,lon,mpi_region,mpi_geo,rural_pct
0,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Banteay Meanchey,"(13.75, 103.0)",KHM,...,450,"Banteay Meanchey, Cambodia","[(13.6672596, 102.8975098)]",Banteay Meanchey Province; Cambodia,"(13.6672596, 102.8975098)",13.667260,102.897510,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
1,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Battambang Province,NaN,KHM,...,20275,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
2,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Battambang Province,NaN,KHM,...,9150,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
3,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,604950,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0
4,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000002X1Uu,Sanitation,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,275,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0

In [31]:
# Drop columns 

df.drop(columns=['Partner ID', 'Field Partner Name', 'sector', 'Loan Theme ID',
       'Loan Theme Type', 'country', 'forkiva', 'region', 'geocode_old',
       'number','LocationName', 'geocode', 'names', 'geo', 'lat',
       'lon', 'mpi_region', 'mpi_geo', 'rural_pct'], axis =1)

       ISO  amount
0      KHM     450
1      KHM   20275
2      KHM    9150
3      KHM  604950
4      KHM     275
...    ...     ...
15731  ZAF   50000
15732  KEN   50000
15733  UGA   50000
15734  CAN   50000
15735  MMR   50000

[15736 rows x 2 columns]

In [32]:
df_3 = df.drop(columns=['Partner ID', 'Field Partner Name', 'sector', 'Loan Theme ID',
       'Loan Theme Type', 'country', 'forkiva', 'region', 'geocode_old',
       'number','LocationName', 'geocode', 'names', 'geo', 'lat',
       'lon', 'mpi_region', 'mpi_geo', 'rural_pct'], axis =1)

In [33]:
df_3.head()

   ISO  amount
0  KHM     450
1  KHM   20275
2  KHM    9150
3  KHM  604950
4  KHM     275

In [34]:
df_3.value_counts()

ISO  amount
PHL  225       132
     125       124
     325        90
     200        77
     425        73
              ...
KGZ  12100       1
     12075       1
     11875       1
     11850       1
ZWE  811550      1
Length: 8206, dtype: int64

In [35]:
df_3.describe()

             amount
count  1.573600e+04
mean   2.003991e+04
std    9.636941e+04
min    2.500000e+01
25%    9.500000e+02
50%    2.600000e+03
75%    8.750000e+03
max    4.929900e+06

In [36]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15736 entries, 0 to 15735
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ISO     15722 non-null  object
 1   amount  15736 non-null  int64
dtypes: int64(1), object(1)
memory usage: 246.0+ KB

In [37]:
type(df_3)

pandas.core.frame.DataFrame

In [38]:
# Create a dataframe from the ISO column 

df_3_iso = df_3['ISO'].value_counts().to_frame()

In [40]:
df_3_iso.head(10)

      ISO
PHL  3467
ARM  1064
COL   824
MEX   716
VNM   687
PER   609
KEN   593
KHM   567
SLV   496
TJK   454

Notes: According to this list, the top 10 countries with the most loans in place are as followed: <br>
01. PHL Philippines <br>
02. ARM Armenia <br>
03. COL Colombia <br>
04. MEX Mexico <br>
05. VNM Vietnam <br>
06. PER Peru <br>
07. KEN Kenya <br>
08. KHM Cambodia <br>
09. SLV El Salvador<br>
10. TJK Tajikistan

In [43]:
# Rename a column 

df_3_iso.rename(columns = {'ISO' : 'loan_count'})

     loan_count
PHL        3467
ARM        1064
COL         824
MEX         716
VNM         687
PER         609
KEN         593
KHM         567
SLV         496
TJK         454
LBN         416
KGZ         412
WSM         398
LSO         336
UGA         304
IND         296
GEO         296
PSE         285
MLI         235
PAK         227
GHA         210
IDN         196
GTM         186
ECU         173
HND         166
BOL         164
CRI         147
PRY         140
ZMB         124
HTI         122
JOR         120
CMR         109
RWA         104
NIC         101
MWI          94
USA          64
SLE          63
UKR          63
ZAF          61
MOZ          57
SEN          48
ISR          47
TZA          42
ZWE          42
COD          35
TLS          34
DOM          30
NPL          29
MDA          26
MMR          25
BFA          24
TGO          22
NGA          20
LBR          19
YEM          18
AZE          14
ALB          13
BRA           8
BDI           8
CHN           8
EGY           8
MDG           8
BLZ           8
MNG           7
THA           6
SLB           5
NAM           4
PAN           4
TUR           4
SOM           2
LAO           2
CAN           1
AFG           1
SSD           1
SUR           1
BEN           1
BTN           1